<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Scanner</title>
		<link rel="stylesheet" href="./style.css" />
	</head>
	<body>
		<header>
			<div class="container">
				<h2>Results</h2>

				<p>UDP: <%= JSON.stringify(udp) %></p>
				<p>TCP: <%= JSON.stringify(tcp) %></p>
			</div>
		</header>
	</body>
</html>
